{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * GTmetrix plugin for Craft CMS 3.x
 *
 * GTmetrix index.twig
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   GTmetrix
 * @since     2.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("lukeyouell\\gtmetrix\\assetbundles\\gtmetrix\\GTmetrixAsset") %}
{% do view.registerAssetBundle("lukeyouell\\gtmetrix\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/craft-gtmetrix/gtmetrix/blob/master/README.md" %}

{% set title = "GTmetrix" %}

{% set pluginCpUrl = url('gtmetrix') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@lukeyouell/gtmetrix/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('gtmetrix') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('gtmetrix') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
